* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef5ff;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-box {
  padding: 18px 35px;
  background: #4f46e5;
  color: white;
  border-radius: 12px;
  font-size: 24px;
  font-weight: bold;
  animation: floatingMotion 3s ease-in-out infinite;
}

@keyframes floatingMotion {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0);
  }
}