// Mixin for Jiggle Skeleton Mixin
@mixin ease-jiggle-skeleton-mixin-mixin($duration: 0.3s) {
  transition: all $duration ease;
  padding: 10px;
  
  &:hover {
    transform: scale(1.05);
  }
  
  @media (prefers-reduced-motion: reduce) {
    transition: none;
    transform: none;
  }
}
