@mixin float-avatar-mixin-ds(
  $duration: 2s,
  $distance: 8px
) {
  display: inline-block;
  border-radius: 50%;
  animation: floatAvatarDs $duration ease-in-out infinite;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

@keyframes floatAvatarDs {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0);
  }
}
