.docs-h3 {
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: -0.01em;
    margin-bottom: 0.75rem;
}

/* Used the remaining styles same as used in docs.css expect the color styling needed for reflecting changes */